@{
    ViewData["Title"] = "Confirmação de apagar o Contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (Nome do Contato)?</h3>
</div>

<a class="btn btn-primary d-block" role="button">Cancelar exclusão</a>
<br />
<a class="btn btn-danger d-block" role="button">Confirmar exclusão</a>