@{
    ViewData["Title"] = "Página Restrita";
    Layout = "_LayoutDeslogado";
}

<div class="text-center">
    <h1 class="display-4">Página Restrita</h1>
    <p>Você nao tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Clique aqui para voltar para home.</a></p>
</div>
